@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: rgba(0, 0, 0, 0.725);
}

h4{
    font-size: 20px;
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}

/* p{
    font-size: 16px;
    color: rgba(250, 235, 215, 0.19);
    margin: 15px 0 20px 0;
} */

.section-p1{
    padding: 40px 80px;

}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight:  600;
    padding: 15px 30px;
    color: #1a1a1a;
    background-color: white;
    border-radius:  4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;

}
button.normal:hover{
    box-shadow: 20px 20px 34px rgba(23, 23, 24, 0.1);
}

body{
    width: 100%;
}


/* header start */


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 80px;
    background: rgb(139, 165, 187);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding:  0 20px;
    position: relative;
}
#navbar li  a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,

#navbar li a.active{
    color:  rgba(128, 76, 9, 0.915);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* Home Page */
#hero{
    background-image: url("hero4.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding:  0 80px;
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 5p;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url("images/button.jpg") ;
    background-color: transparent;
    columns: #088178;
    border: 0;
    padding: 14px  80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size:  15px;
}

/* feature */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    padding: 25px 15px 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
    border: 1px solid #cce7d0;
    border-radius: 4px;
}

#feature .fe-box:hover{
    box-shadow: 20px 20px 34px rgba(70, 62, 221, 0.01);  
}


#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding:  9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color:#fddde4 ;
}
#feature .fe-box:nth-child(2) h6{
    display: inline-block;
    padding:  9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #71aad0;
    background-color: #cd2e56;
}
#feature .fe-box:nth-child(3) h6{
    
    color: #5d2e07;
    background-color: #ccb19b;
}

#feature .fe-box:nth-child(4) h6{
    
    color: #5d2e07;
    background-color: #f2ce1d;
}
#feature .fe-box:nth-child(5) h6{
    
    color: #5d2e07;
    background-color: #9bcca5;
}

#product1{
    text-align: center;
    margin-bottom:100px;
}

#product1 .pro{
    width: 23%;
    min-width: 230px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 5px;
    position: relative;


}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.03);

}


#product1 .pro img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.05);
}

#product1 .pro-container{
    display: flex;
    align-content: center;
    justify-content: left;
    overflow: hidden;
    overflow-x: scroll;
    border: 2px solid #e3dfdf;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0;
    

}
#product1 .pro-container img{
    width: 100%;
}



#product1 .pro-container .pro{
    display: inline-block;
    margin: 5px;
    padding: 10px 10px;

}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;   
}

#product1 .pro .des h5{
    padding-top: 7px;
    color:  #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: #f2ce1d;
    border: 10px #1a1a1a;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/banner/b1.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color:  white;
    font-size: 16px;

}

#banner h2{
    color:  white;
    font-size: 30px;
    padding: 10px 0;
    
}
#banner h2 span{
    color:  rgb(235, 235, 84);
    
    padding: 10px 0;
    
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    background-image: url(images/banner/b2.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-top: 0px;
    padding: 30px;
    
}
#sm-banner h4{
    color: #e3dfdf; 
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #e3dfdf; 
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #e3dfdf; 
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px ;
}

button.white{
    font-size: 13px;
    font-weight:  600;
    padding: 11px 18px;
    color: whitesmoke;
    background-color: transparent;
    border-radius:  0%;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;

}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178 ;
    border-radius: 2px;
    box-shadow: 20px 20px 34px rgba(23, 23, 24, 0.05);
}


#sm-banner .banner-box2{
    background-image: url(images/banner/b3.jpg);
}
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    background-image: url(images/banner/b4\ \(1\).jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    
    margin-bottom: 30px;
    
}
#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
    padding: 0;
    margin-bottom: 0;
    
}
#banner3 h3{
    color: rgb(49, 3, 3);
    font-weight: 900;
    font-size: 15px;
    padding: 0;
    margin-top: 0px;
}
#banner3 .b2{
    background-image: url(images/banner/b4\ \(2\).jpg);    
}
#banner3 .b3{
    background-image: url(images/banner/b4\ \(3\).jpg);    
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("images/news.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    min-width: 400px;
    height: 150px;
}

#newsletter h4{
    color: #e3dfdf;
    font-weight: 700;
    font-size: 22px;
}

#newsletter p{
    color: #b7b4b4;
}
#newsletter p span{
    color: rgb(242, 242, 17);
}
#newsletter .form{
    display:flex;
    width: 40%;
}

#newsletter input{
    height: 3.124rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    border: 1px transparent;
    outline: none;
}


#newsletter button {
    width: 100px;
    background-color: #088178;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    border: 1px transparent;
    color: white;
    white-space: nowrap;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    margin-bottom: 20px ;
}

footer .Acount{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    margin-bottom: 20px ;
}
footer .logo{
    margin-bottom: 30px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;


}

footer{
    font-size: 13px;
    margin: 0 0 8px 0  ;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(60, 59, 59);
    margin-bottom: 10px;
}

footer a:hover{
    text-decoration: underline ;
}

footer .copy{
    width: 100%;
    text-align: center;
}










